/*
vw, vh : viewport-width, viewport-height
*/
@vheight: 100vh;
@vwidthMap: 70vw;
@vwidthTracks: 30vw; 
@textColor: #000000;
@trackColor01: #19DCE8;

#googleMap {
    height: @vheight;
    width: @vwidthMap;
}

#pageDiv {
    display: flex;
    flex-direction: column;
    background-color: @trackColor01;
    width: @vwidthTracks;
    height: @vheight;
}

#pageControl {
    display: flex;
    flex-direction: row;
    background-color: @trackColor01;
}

.pageButton {
    padding: 5px;
    font-size: 200%;
    margin: 10px;
    border: none;
    background-color: transparent;
    &:hover { color: lighten(@textColor, 60%) }
}

#pageCount {
    margin-right: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#tracks {
    padding: 0;
    margin: 0;
    &> li {
        list-style-type: none;
        border: 1px solid grey;
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover { color: lighten(@textColor, 40%) }
        &:hover { background-color: lighten(@trackColor01, 20%) }
    }
}

body {
    display: flex;
    flex-direction: row;
    height: @vheight;
    margin: 0;
    padding: 0;
}