/*
vw, vh : viewport-width, viewport-height
*/

#googleMap {
    height: 100vh;
    width: 70vw;
}

#tracks {
    display: flex;
    flex-direction: column;
    background-color: #19DCE8;
    width: 30vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
}